* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Black Nemesis Perosonal USE';
  font-style: normal;
  font-weight: bold;
  background: var(--black);
  color: var(--white);
}
